html {
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  body {
    background-color: black;
  }
h1 {
    color: white;
}





/*styling the body css*/